<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <script defer src="../../js/battle.js"></script>
    <title>Pokedex</title>
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm header header-color">
        <h1 class="h1 my-1 mr-md-auto font-weight-normal">Pokedex</h1>
        <% if (locals.user) { %>
            <h2 class="h5 my-0 mr-md-auto font-weight-normal">Bonjour <%= locals.user.firstname%></h2>
            <% } %>
        <nav class="my-2 my-md-0 mr-md-3 nav-style-link">
            <a class="p-2 header-color nav-title" href="/">Accueil</a>
            <a class="p-2 header-color nav-title" href="/listeoftypes">Types</a>
            <% if (locals.user) { %>
                <a class="p-2 header-color nav-title" href="/deck">Deck</a>
                <a class="p-2 header-color nav-title" href="/battle">Battle</a>
                <a class="p-2 header-color nav-title" href="/profil">Profil</a>
                <a class="p-2 header-color nav-title" href="/logOut">Se déconnecter</a>
            <% } %>
            <% if (!locals.user) { %>
                <a class="p-2 header-color nav-title" href="/register">S'inscrire</a>
                <a class="p-2 header-color nav-title" href="/login">Se connecter</a>
            <% } %>
            <% if (locals.user.role === "admin") { %>
                <a class="p-2 header-color nav-title" href="/admin">Admin</a>
            <% } %>
        </nav>
    </header>
    <main class="containers">