<%- include('partials/header') %>

<form class="form_register-login" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Enregistrez vous</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <button class="btn btn-block btn_validate-register" type="submit">Sign in</button>
    </form>

<%- include('partials/footer') %>